<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>Rules</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Score</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>2</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>8</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>1</integer>
				<integer>5</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>4</integer>
				<integer>6</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>1</integer>
				<integer>8</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>2</integer>
				<integer>107</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>6</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>3</integer>
				<integer>5</integer>
				<integer>201</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>6</integer>
				<integer>7</integer>
				<integer>101</integer>
			</array>
			<key>Score</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>0</integer>
				<integer>6</integer>
				<integer>4</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>6</integer>
				<integer>5</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>0</integer>
				<integer>7</integer>
				<integer>205</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>2</integer>
				<integer>4</integer>
				<integer>107</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>6</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>3</integer>
				<integer>201</integer>
				<integer>5</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>6</integer>
				<integer>7</integer>
				<integer>101</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Rules</key>
			<array>
				<integer>0</integer>
				<integer>6</integer>
				<integer>4</integer>
			</array>
			<key>Score</key>
			<integer>1000</integer>
		</dict>
	</array>
	<key>ResumeInfo</key>
	<dict>
		<key>Address1</key>
		<array>
			<string>Acorn</string>
			<string>Anchor</string>
			<string>Apple</string>
			<string>Autumn</string>
			<string>Axe</string>
			<string>Barn</string>
			<string>Beacon</string>
			<string>Bear</string>
			<string>Beaver</string>
			<string>Berry</string>
			<string>Bird</string>
			<string>Blossom</string>
			<string>Bluff</string>
			<string>Branch</string>
			<string>Bridge</string>
			<string>Brook</string>
			<string>Butterfly</string>
			<string>Butternut</string>
			<string>Castle</string>
			<string>Chestnut</string>
			<string>Cider</string>
			<string>Cloud</string>
			<string>Cottage</string>
			<string>Creek</string>
			<string>Crow</string>
			<string>Dale</string>
			<string>Deer</string>
			<string>Diamond</string>
			<string>Dove</string>
			<string>Elk</string>
			<string>Elm</string>
			<string>Embers</string>
			<string>Fawn</string>
			<string>Feather</string>
			<string>Flower</string>
			<string>Forest</string>
			<string>Fox</string>
			<string>Gate</string>
			<string>Goat</string>
			<string>Goose</string>
			<string>Grove</string>
			<string>Harbor</string>
			<string>Hickory</string>
			<string>Hills</string>
			<string>Holly</string>
			<string>Horse</string>
			<string>Island</string>
			<string>Lake</string>
			<string>Lamb</string>
			<string>Leaf</string>
			<string>Log</string>
			<string>Maple</string>
			<string>Mill</string>
			<string>Mountain</string>
			<string>Nectar</string>
			<string>Nest</string>
			<string>Nut</string>
			<string>Oak</string>
			<string>Panda</string>
			<string>Peach</string>
			<string>Pebble</string>
			<string>Pine</string>
			<string>Pioneer</string>
			<string>Pond</string>
			<string>Pony</string>
			<string>Prairie</string>
			<string>Pumpkin</string>
			<string>Quail</string>
			<string>Rabbit</string>
			<string>Rise</string>
			<string>River</string>
			<string>Robin</string>
			<string>Rock</string>
			<string>Shadow</string>
			<string>Sky</string>
			<string>Snake</string>
			<string>Spring</string>
			<string>Squirrel</string>
			<string>Stone</string>
			<string>Swan</string>
			<string>Timber</string>
			<string>Treasure</string>
			<string>Turtle</string>
			<string>View</string>
			<string>Wagon</string>
			<string>Willow</string>
			<string>Zephyr</string>
		</array>
		<key>lastNames</key>
		<array>
			<string>Stump</string>
			<string>Stein</string>
			<string>Hanna</string>
			<string>Ali</string>
			<string>Lucero</string>
			<string>Clifford</string>
			<string>Valentin</string>
			<string>Moniz</string>
			<string>Leach</string>
			<string>Chan</string>
			<string>Poirier</string>
			<string>Deluca</string>
			<string>Hornsby</string>
			<string>Tilley</string>
			<string>Connors</string>
			<string>Duffy</string>
			<string>Kincaid</string>
			<string>Tuttle</string>
			<string>Derr</string>
			<string>Lau</string>
			<string>Marvin</string>
			<string>Busby</string>
			<string>Lira</string>
			<string>Creamer</string>
			<string>Duran</string>
			<string>Salgado</string>
			<string>Johns</string>
			<string>Spriggs</string>
			<string>Foote</string>
			<string>Gaylord</string>
			<string>Lay</string>
			<string>Grace</string>
			<string>Ferrari</string>
			<string>Styles</string>
			<string>Theriault</string>
			<string>Sinclair</string>
			<string>Libby</string>
			<string>Peeler</string>
			<string>Ralston</string>
			<string>Andre</string>
			<string>Langston</string>
			<string>Neill</string>
			<string>Stockton</string>
			<string>Toler</string>
			<string>Pickering</string>
			<string>Conti</string>
			<string>Shields</string>
			<string>Caro</string>
			<string>Roland</string>
			<string>Slaughter</string>
			<string>Mauro</string>
			<string>Noble</string>
			<string>Langley</string>
			<string>Bachman</string>
			<string>Scarbrough</string>
			<string>Winstead</string>
			<string>Ridgeway</string>
			<string>Colwell</string>
			<string>Marble</string>
			<string>Headley</string>
			<string>Jacob</string>
			<string>Alston</string>
			<string>Cardoza</string>
			<string>Reedy</string>
			<string>Marchand</string>
			<string>Gaskin</string>
			<string>Villanueva</string>
			<string>Pinson</string>
			<string>Peek</string>
			<string>Dupont</string>
			<string>Maurer</string>
			<string>Stillwell</string>
			<string>Dupre</string>
			<string>Bunting</string>
			<string>Vick</string>
			<string>Rouse</string>
			<string>Spivey</string>
			<string>Nevarez</string>
			<string>Lawton</string>
			<string>Plunkett</string>
			<string>Holbrook</string>
			<string>Naranjo</string>
			<string>Galarza</string>
			<string>Deleon</string>
			<string>Beaudoin</string>
			<string>Littlefield</string>
			<string>Thurston</string>
			<string>Guevara</string>
			<string>Faulkner</string>
			<string>Parson</string>
			<string>Escobedo</string>
			<string>Bynum</string>
			<string>Clem</string>
			<string>Hackney</string>
			<string>Freitas</string>
			<string>Caballero</string>
			<string>Batiste</string>
			<string>Kane</string>
			<string>Venegas</string>
			<string>Jose</string>
			<string>Hillman</string>
			<string>Kaiser</string>
			<string>Davison</string>
			<string>Jung</string>
			<string>Overton</string>
			<string>Darling</string>
			<string>Mahoney</string>
			<string>Cutler</string>
			<string>Lunsford</string>
			<string>Stern</string>
			<string>Funk</string>
			<string>Mackey</string>
			<string>Mendenhall</string>
			<string>Burden</string>
			<string>Billiot</string>
			<string>Huber</string>
			<string>Jefferies</string>
			<string>Graff</string>
			<string>Stiles</string>
			<string>Fortune</string>
			<string>Dorman</string>
			<string>Box</string>
			<string>Rhoads</string>
			<string>Buckingham</string>
			<string>Shumate</string>
			<string>Layton</string>
			<string>Babcock</string>
			<string>Chang</string>
			<string>Seay</string>
			<string>Markley</string>
			<string>Quintana</string>
			<string>Haugen</string>
			<string>Smothers</string>
			<string>Roby</string>
			<string>Oakes</string>
			<string>Utley</string>
			<string>Grey</string>
			<string>Marble</string>
			<string>Boston</string>
			<string>Word</string>
			<string>Melancon</string>
			<string>Gauthier</string>
			<string>Healey</string>
			<string>Mccarter</string>
			<string>Dumas</string>
			<string>Frederick</string>
			<string>Barlow</string>
			<string>Layman</string>
			<string>Dominguez</string>
			<string>Elkins</string>
			<string>Guess</string>
			<string>Huskey</string>
			<string>Tarver</string>
			<string>Naquin</string>
			<string>Stoll</string>
			<string>Worthy</string>
			<string>Kroll</string>
			<string>Farrell</string>
			<string>Barbee</string>
			<string>Harwell</string>
			<string>Slack</string>
			<string>Costello</string>
			<string>Rash</string>
			<string>Gillen</string>
			<string>Nettles</string>
			<string>Pfeifer</string>
			<string>Askew</string>
			<string>Forrest</string>
			<string>Christy</string>
			<string>Judge</string>
			<string>Staples</string>
			<string>Galvin</string>
			<string>Beard</string>
			<string>Abreu</string>
			<string>Krebs</string>
			<string>Spain</string>
			<string>Iverson</string>
			<string>Wiggins</string>
			<string>Beasley</string>
			<string>Howerton</string>
			<string>Irizarry</string>
			<string>Golden</string>
			<string>Merrick</string>
			<string>Amador</string>
			<string>Lawless</string>
			<string>Withers</string>
			<string>Beattie</string>
			<string>Bray</string>
			<string>Gulley</string>
			<string>Prosser</string>
			<string>Desimone</string>
			<string>Burleson</string>
			<string>Maier</string>
			<string>Worrell</string>
			<string>Reyna</string>
			<string>Maclean</string>
			<string>Lentz</string>
			<string>Hass</string>
			<string>Hamblin</string>
			<string>Osburn</string>
		</array>
		<key>firstNames</key>
		<array>
			<string>Milly</string>
			<string>Cicely</string>
			<string>Daphine</string>
			<string>Breana</string>
			<string>Reita</string>
			<string>Jamaal</string>
			<string>Nichol</string>
			<string>Mozella</string>
			<string>Ned</string>
			<string>Lin</string>
			<string>Stephani</string>
			<string>Merrill</string>
			<string>Vince</string>
			<string>Sharla</string>
			<string>Harley</string>
			<string>Sebrina</string>
			<string>Etta</string>
			<string>Denice</string>
			<string>Debbi</string>
			<string>Marisha</string>
			<string>Judi</string>
			<string>Lakisha</string>
			<string>Ebonie</string>
			<string>Ezekiel</string>
			<string>Chanelle</string>
			<string>Nedra</string>
			<string>Ayanna</string>
			<string>Cindi</string>
			<string>Cleo</string>
			<string>Jacalyn</string>
			<string>Jacqualine</string>
			<string>Pok</string>
			<string>Arielle</string>
			<string>Malissa</string>
			<string>Luci</string>
			<string>Derick</string>
			<string>Renaldo</string>
			<string>Georgene</string>
			<string>Cherryl</string>
			<string>Bret</string>
			<string>Ayana</string>
			<string>Leesa</string>
			<string>Florencio</string>
			<string>Tamekia</string>
			<string>Tiffanie</string>
			<string>Janay</string>
			<string>Clora</string>
			<string>Emerald</string>
			<string>Booker</string>
			<string>Lynetta</string>
			<string>Rico</string>
			<string>Emerson</string>
			<string>Eleonore</string>
			<string>Roseline</string>
			<string>Pei</string>
			<string>Jani</string>
			<string>Zelma</string>
			<string>Shandi</string>
			<string>Lara</string>
			<string>Dennis</string>
			<string>Zachery</string>
			<string>Casie</string>
			<string>Adela</string>
			<string>Armandina</string>
			<string>Alverta</string>
			<string>Nikki</string>
			<string>Joan</string>
			<string>Zulma</string>
			<string>Marceline</string>
			<string>Ali</string>
			<string>Marshall</string>
			<string>Belen</string>
			<string>Carolynn</string>
			<string>Lorretta</string>
			<string>Franklyn</string>
			<string>Carie</string>
			<string>Wilton</string>
			<string>Kaycee</string>
			<string>Leanora</string>
			<string>Herminia</string>
			<string>Theresia</string>
			<string>Shante</string>
			<string>Ilse</string>
			<string>Dionna</string>
			<string>Alycia</string>
			<string>Jewell</string>
			<string>Peggie</string>
			<string>Joycelyn</string>
			<string>Mitch</string>
			<string>Alease</string>
			<string>Geraldo</string>
			<string>Hanna</string>
			<string>Peter</string>
			<string>Flavia</string>
			<string>Nigel</string>
			<string>Berneice</string>
			<string>Jolynn</string>
			<string>Velva</string>
			<string>Dahlia</string>
			<string>Nydia</string>
			<string>Antony</string>
			<string>Micah</string>
			<string>Stacee</string>
			<string>Maybell</string>
			<string>Nyla</string>
			<string>Jacqulyn</string>
			<string>Albert</string>
			<string>Jerri</string>
			<string>Marianna</string>
			<string>Kathaleen</string>
			<string>Saran</string>
			<string>Vicente</string>
			<string>Olimpia</string>
			<string>Lilliam</string>
			<string>Verline</string>
			<string>Wally</string>
			<string>Vernice</string>
			<string>Garnet</string>
			<string>Kacy</string>
			<string>Ossie</string>
			<string>Jung</string>
			<string>Signe</string>
			<string>Nichelle</string>
			<string>Regena</string>
			<string>Mei</string>
			<string>Tomeka</string>
			<string>Dante</string>
			<string>Lani</string>
			<string>Josette</string>
			<string>Karine</string>
			<string>Theo</string>
			<string>Angeles</string>
			<string>Florentino</string>
			<string>Tyisha</string>
			<string>Carolee</string>
			<string>Anibal</string>
			<string>Adolph</string>
			<string>Hermelinda</string>
			<string>Margery</string>
			<string>Dalene</string>
			<string>Claribel</string>
			<string>Yesenia</string>
			<string>Dion</string>
			<string>Mohammed</string>
			<string>Porter</string>
			<string>Ma</string>
			<string>Maisie</string>
			<string>Salome</string>
			<string>Tamie</string>
			<string>Leonel</string>
			<string>Cyrus</string>
			<string>Carlyn</string>
			<string>Ashanti</string>
			<string>Cleotilde</string>
			<string>Tierra</string>
			<string>Noble</string>
			<string>Herschel</string>
			<string>Christal</string>
			<string>Milan</string>
			<string>Paige</string>
			<string>Deon</string>
			<string>Cherilyn</string>
			<string>Odette</string>
			<string>Shawnna</string>
			<string>Arlinda</string>
			<string>Adena</string>
			<string>Juliann</string>
			<string>Dionne</string>
			<string>Felice</string>
			<string>Carin</string>
			<string>Many</string>
			<string>Julienne</string>
			<string>Latrina</string>
			<string>Bonita</string>
			<string>Teena</string>
			<string>Remona</string>
			<string>Spring</string>
			<string>Brittaney</string>
			<string>Michale</string>
			<string>Toney</string>
			<string>Shayna</string>
			<string>Morton</string>
			<string>Lelia</string>
			<string>Yadira</string>
			<string>Gabriella</string>
			<string>Marquetta</string>
			<string>Ninfa</string>
			<string>Gertude</string>
			<string>Kathie</string>
			<string>Marquita</string>
			<string>Keven</string>
			<string>Hortense</string>
			<string>Stormy</string>
			<string>Vida</string>
			<string>Dessie</string>
			<string>Chantel</string>
			<string>Marcene</string>
			<string>Kristel</string>
			<string>Crysta</string>
			<string>Beryl</string>
		</array>
		<key>Experiences</key>
		<dict>
			<key>Transportation</key>
			<array>
				<string>Bus Driver</string>
				<string>Taxi Driver</string>
				<string>Piggy Backer</string>
				<string>Cyclist</string>
				<string>Pilot</string>
				<string>Captain</string>
			</array>
			<key>Nature</key>
			<array>
				<string>Hunter</string>
				<string>Bird Watcher</string>
				<string>Hippie</string>
				<string>Farmer</string>
				<string>Zoo Keeper</string>
				<string>Mountain Man</string>
				<string>Penguin Researcher</string>
				<string>Fisherman</string>
			</array>
			<key>Medicine</key>
			<array>
				<string>Doctor</string>
				<string>Nurse</string>
				<string>Veternarian</string>
				<string>Surgeon</string>
				<string>Dentist</string>
			</array>
			<key>Education</key>
			<array>
				<string>Teacher</string>
				<string>Principal</string>
				<string>Teacher Assisant</string>
				<string>Tutor</string>
				<string>Director</string>
			</array>
			<key>Sanatation</key>
			<array>
				<string>Janitor</string>
				<string>Garbage Man</string>
				<string>Maid</string>
			</array>
			<key>Business</key>
			<array>
				<string>Foil Seller</string>
				<string>Con Artist</string>
				<string>Secretary</string>
				<string>Manager</string>
				<string>Boss</string>
				<string>CEO</string>
				<string>Accountant</string>
				<string>Trader</string>
				<string>Stock Broker</string>
				<string>Banker</string>
			</array>
			<key>Stealth</key>
			<array>
				<string>Stalker</string>
				<string>Hitman</string>
				<string>Ninja</string>
				<string>Sniper</string>
				<string>Ghost Imitator</string>
			</array>
			<key>Entertainment</key>
			<array>
				<string>Singer</string>
				<string>Dancer</string>
				<string>Clown</string>
				<string>Bass Player</string>
			</array>
		</dict>
		<key>Address2</key>
		<array>
			<string>St</string>
			<string>Ave</string>
			<string>Rd</string>
		</array>
		<key>SchoolLevel</key>
		<array>
			<string>Grade School</string>
			<string>Middle School</string>
			<string>High School</string>
			<string>University</string>
		</array>
		<key>Schools</key>
		<array>
			<string>Barnet</string>
			<string>Riverbank</string>
			<string>Westbank</string>
			<string>Easton</string>
			<string>Ashton</string>
			<string>Arrowsmith</string>
			<string>Crosswell</string>
			<string>Northvale</string>
			<string>Northdale</string>
			<string>Melrose</string>
			<string>Epingwood</string>
			<string>Riverdell</string>
			<string>Cedarwood</string>
			<string>Colby</string>
		</array>
		<key>Activities</key>
		<array>
			<string>cleaning</string>
			<string>computer programming</string>
			<string>cooking</string>
			<string>coloring</string>
			<string>cosplaying</string>
			<string>creative writing</string>
			<string>crocheting</string>
			<string>cryptography</string>
			<string>digital arts</string>
			<string>drama</string>
			<string>drawing</string>
			<string>drinking coffee</string>
			<string>eating</string>
			<string>embroidery</string>
			<string>gaming</string>
			<string>gambling</string>
			<string>genealogy</string>
			<string>homebrewing</string>
			<string>jewelry making</string>
			<string>juggling</string>
			<string>knitting</string>
			<string>lacemaking</string>
			<string>lapidary</string>
			<string>leather crafting</string>
			<string>lego building</string>
			<string>magic</string>
			<string>origami</string>
			<string>painting</string>
			<string>ping pong</string>
			<string>pottery</string>
			<string>puzzles</string>
			<string>quilting</string>
			<string>rc cars</string>
			<string>reading</string>
			<string>scrapbooking</string>
			<string>sculpting</string>
			<string>sewing</string>
			<string>singing</string>
			<string>sketching</string>
			<string>soapmaking</string>
			<string>stand-up comedy</string>
			<string>sudoku</string>
			<string>taxidermy</string>
			<string>watching movies</string>
			<string>web surfing</string>
			<string>wood carving</string>
			<string>woodworking</string>
			<string>writing</string>
			<string>yoga</string>
			<string>yo-yoing</string>
			<string>air sports</string>
			<string>archery</string>
			<string>astronomy</string>
			<string>backpacking</string>
			<string>beekeeping</string>
			<string>board sports</string>
			<string>bodybuilding</string>
			<string>cycling</string>
			<string>dowsing</string>
			<string>driving</string>
			<string>fishing</string>
			<string>flying</string>
			<string>foraging</string>
			<string>gardening</string>
			<string>geocaching</string>
			<string>ghost hunting</string>
			<string>graffiti</string>
			<string>hooping</string>
			<string>inline skating</string>
			<string>kayaking</string>
			<string>kiteflying</string>
			<string>letterboxing</string>
			<string>motor sports</string>
			<string>mountaineering</string>
			<string>mushroom hunting</string>
			<string>net ball</string>
			<string>nordic skating</string>
			<string>parkour</string>
			<string>photography</string>
			<string>polo</string>
			<string>rafting</string>
			<string>rappelling</string>
			<string>rock climbing</string>
			<string>roller skating</string>
			<string>rugby</string>
			<string>running</string>
			<string>sailing</string>
			<string>sand castle building</string>
			<string>scuba diving</string>
			<string>rowing</string>
			<string>shopping</string>
			<string>skating</string>
			<string>skiing</string>
			<string>skydiving</string>
			<string>slacklining</string>
			<string>snowboarding</string>
			<string>taekwondo</string>
			<string>tai chi</string>
			<string>urban exploration</string>
			<string>vehicle restoration</string>
			<string>water sports</string>
			<string>antiquing</string>
			<string>art collecting</string>
			<string>book collecting</string>
			<string>card collecting</string>
			<string>coin collecting</string>
			<string>modelling</string>
			<string>record collecting</string>
			<string>stamp collecting</string>
			<string>stone collecting</string>
			<string>vintage books</string>
			<string>vintage cars</string>
			<string>vintage clothing</string>
			<string>antiquities</string>
			<string>fossil hunting</string>
			<string>insect collecting</string>
			<string>metal detecting</string>
			<string>mineral collecting</string>
			<string>rock stacking</string>
			<string>seaglass collecting</string>
			<string>seashell collecting</string>
			<string>animal showing</string>
			<string>badminton</string>
			<string>baton twirling</string>
			<string>billiards</string>
			<string>bowling</string>
			<string>bridge</string>
			<string>cheerleading</string>
			<string>chess</string>
			<string>cubing</string>
			<string>curling</string>
			<string>dancing</string>
			<string>darts</string>
			<string>debate</string>
			<string>fencing</string>
			<string>gymnastics</string>
			<string>marbles</string>
			<string>poker</string>
			<string>video games</string>
			<string>volleyball</string>
			<string>airsoft</string>
			<string>baseball</string>
			<string>boxing</string>
			<string>basketball</string>
			<string>cricket</string>
			<string>cycling</string>
			<string>disc golf</string>
			<string>equestrianism</string>
			<string>field hockey</string>
			<string>figure skating</string>
			<string>fishing</string>
			<string>footbag</string>
			<string>football</string>
			<string>golfing</string>
			<string>handball</string>
			<string>ice hockey</string>
			<string>jugger</string>
			<string>judo</string>
			<string>jukskei</string>
			<string>kart racing</string>
			<string>lawn tennis</string>
			<string>paintball</string>
			<string>pigeon racing</string>
			<string>racquetball</string>
			<string>shooting sport</string>
			<string>skateboarding</string>
			<string>slot car racing</string>
			<string>speed skating</string>
			<string>squash</string>
			<string>surfing</string>
			<string>swimming</string>
			<string>table tennis</string>
			<string>tennis</string>
			<string>volleyball</string>
			<string>audiophilia</string>
			<string>fishkeeping</string>
			<string>microscopy</string>
			<string>shortwave listening</string>
			<string>aircraft spotting</string>
			<string>astrology</string>
			<string>auto racing</string>
			<string>birdwatching</string>
			<string>bus spotting</string>
			<string>gongoozling</string>
			<string>herping</string>
			<string>meteorology</string>
			<string>people watching</string>
			<string>trainspotting</string>
			<string>traveling</string>
			<string>cats</string>
			<string>dogs</string>
			<string>computers</string>
		</array>
		<key>Locations</key>
		<array>
			<string>Burgeres&apos; Burgerhouse</string>
			<string>Death Star</string>
			<string>McArnolds</string>
			<string>Prestige International</string>
			<string>Starship Enterprise</string>
			<string>Burger Queen</string>
			<string>City Fitness</string>
			<string>For the Feds</string>
			<string>Suit Headquarters</string>
			<string>Tony&apos;s Sandwiches</string>
			<string>Pear Inc</string>
			<string>The Olympic Team</string>
			<string>The General Store</string>
			<string>Cabbage Corp</string>
			<string>Rural Outfitters</string>
			<string>Mom and Pop Shop</string>
			<string>Poogle Inc</string>
			<string>Mercy Hospital</string>
			<string>Latin Dance School</string>
			<string>White House</string>
			<string>Bob&apos;s Store</string>
		</array>
	</dict>
	<key>Email text</key>
	<array>
		<string>WIN MORE THAN
$100000 NOW</string>
		<string>Hey,
Are you free this...</string>
		<string>IMPORTANT DO
NOT DELETE TH...</string>
		<string>IMMEDIATE ACTION
REQUIRED Sign...</string>
		<string>Are you interested
in never working...</string>
		<string>Congratulations
You got spam!!!!</string>
		<string>From: Boss
To: You</string>
		<string>REMINDER: Dentist
appointment at...</string>
		<string>Such email
Much send</string>
		<string>Hi,
I am interested in...</string>
		<string>Thank you for
signing up with...</string>
		<string>Poogle Mail has
new features! Check...</string>
		<string>I, a Nigerian
Prince, would to..</string>
		<string>Have you seen Tony&apos;s
Sandwiches yet?</string>
		<string>CLICK HERE FOR
TONS OF VIRUSES...</string>
		<string>PLEASE FILL OUT
THIS FORM AND...</string>
		<string>IMPORTANT INFO
ABOUT THE NEXT...</string>
		<string>Never miss an
opportunity with...</string>
		<string>stuff</string>
		<string>(no subject)</string>
		<string>Check out this
crazy video. Unbelie...</string>
		<string>ATTENTION: The
squash team is...</string>
		<string>Like us on our
Facebook page...</string>
		<string>Your free trial is
almost over. Upgra...</string>
		<string>60% Off Only
This Weekend Until...</string>
		<string>URGENT URGENT
URGENT</string>
		<string>Dude, I really need
that thing I sent...</string>
		<string>It was really great
to see you yesterday...</string>
		<string>(no subject)</string>
		<string>Resetting Password:
Here is your new pass...</string>
		<string>Looking to buy
cats and cups...</string>
	</array>
	<key>Training_Wheels</key>
	<array>
		<string>Manufactorer</string>
		<string>Assembliler</string>
		<string>Tester</string>
	</array>
</dict>
</plist>
