<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>StevenHuangResources/bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{285, 497}, {319, 206}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {319, 206}}</string>
			<key>sourceSize</key>
			<string>{319, 206}</string>
		</dict>
		<key>StevenHuangResources/buttons-12@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{97, 375}, {122, 31}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 31}}</string>
			<key>sourceSize</key>
			<string>{122, 31}</string>
		</dict>
		<key>StevenHuangResources/buttons-13@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{130, 375}, {122, 29}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 29}}</string>
			<key>sourceSize</key>
			<string>{122, 29}</string>
		</dict>
		<key>StevenHuangResources/check.png</key>
		<dict>
			<key>frame</key>
			<string>{{285, 890}, {70, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 57}}</string>
			<key>sourceSize</key>
			<string>{70, 57}</string>
		</dict>
		<key>StevenHuangResources/clock body.png</key>
		<dict>
			<key>frame</key>
			<string>{{161, 489}, {18, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>StevenHuangResources/clock hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1012}, {9, 6}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 6}, {9, 6}}</string>
			<key>sourceSize</key>
			<string>{18, 18}</string>
		</dict>
		<key>StevenHuangResources/dog.png</key>
		<dict>
			<key>frame</key>
			<string>{{423, 375}, {80, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 54}}</string>
			<key>sourceSize</key>
			<string>{80, 54}</string>
		</dict>
		<key>StevenHuangResources/fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{363, 375}, {58, 83}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {58, 83}}</string>
			<key>sourceSize</key>
			<string>{58, 83}</string>
		</dict>
		<key>StevenHuangResources/fire1.png</key>
		<dict>
			<key>frame</key>
			<string>{{285, 962}, {58, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {58, 58}}</string>
			<key>sourceSize</key>
			<string>{62, 62}</string>
		</dict>
		<key>StevenHuangResources/green_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 1}, {45, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {45, 512}}</string>
			<key>sourceSize</key>
			<string>{45, 512}</string>
		</dict>
		<key>StevenHuangResources/laser.png</key>
		<dict>
			<key>frame</key>
			<string>{{357, 818}, {62, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 62}}</string>
			<key>sourceSize</key>
			<string>{62, 62}</string>
		</dict>
		<key>StevenHuangResources/main.png</key>
		<dict>
			<key>frame</key>
			<string>{{97, 1}, {372, 337}}</string>
			<key>offset</key>
			<string>{-6, -87}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 175}, {372, 337}}</string>
			<key>sourceSize</key>
			<string>{384, 512}</string>
		</dict>
		<key>StevenHuangResources/pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{275, 464}, {31, 31}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 6}, {31, 31}}</string>
			<key>sourceSize</key>
			<string>{44, 43}</string>
		</dict>
		<key>StevenHuangResources/red_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {47, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 512}}</string>
			<key>sourceSize</key>
			<string>{47, 512}</string>
		</dict>
		<key>StevenHuangResources/round_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{161, 375}, {112, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 112}}</string>
			<key>sourceSize</key>
			<string>{112, 112}</string>
		</dict>
		<key>StevenHuangResources/rules copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 923}, {282, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {282, 87}}</string>
			<key>sourceSize</key>
			<string>{282, 87}</string>
		</dict>
		<key>StevenHuangResources/rules.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 515}, {282, 406}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {282, 406}}</string>
			<key>sourceSize</key>
			<string>{282, 406}</string>
		</dict>
		<key>StevenHuangResources/scissor.png</key>
		<dict>
			<key>frame</key>
			<string>{{344, 890}, {62, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 62}}</string>
			<key>sourceSize</key>
			<string>{62, 62}</string>
		</dict>
		<key>StevenHuangResources/scissor1.png</key>
		<dict>
			<key>frame</key>
			<string>{{408, 882}, {58, 58}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {58, 58}}</string>
			<key>sourceSize</key>
			<string>{62, 62}</string>
		</dict>
		<key>StevenHuangResources/shredder.png</key>
		<dict>
			<key>frame</key>
			<string>{{275, 375}, {86, 87}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {86, 87}}</string>
			<key>sourceSize</key>
			<string>{87, 87}</string>
		</dict>
		<key>StevenHuangResources/stomp.png</key>
		<dict>
			<key>frame</key>
			<string>{{421, 818}, {58, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 4}, {58, 53}}</string>
			<key>sourceSize</key>
			<string>{62, 62}</string>
		</dict>
		<key>StevenHuangResources/wolf.png</key>
		<dict>
			<key>frame</key>
			<string>{{345, 954}, {62, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 62}}</string>
			<key>sourceSize</key>
			<string>{62, 62}</string>
		</dict>
		<key>StevenHuangResources/x.png</key>
		<dict>
			<key>frame</key>
			<string>{{285, 818}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>StevenHuangResources.png</string>
	</dict>
</dict>
</plist>
