<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>Assets/bookFlip1.wav</key>
		<string>Assets/bookFlip1.caf</string>
		<key>Assets/bookFlip2.wav</key>
		<string>Assets/bookFlip2.caf</string>
		<key>Assets/bookFlip3.wav</key>
		<string>Assets/bookFlip3.caf</string>
		<key>Assets/click.wav</key>
		<string>Assets/click.caf</string>
		<key>Assets/click1.wav</key>
		<string>Assets/click1.caf</string>
		<key>StevenHuangResources/main.psd</key>
		<string>StevenHuangResources/main.png</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
