<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>StevenHuangResources/airplane.png</key>
		<dict>
			<key>frame</key>
			<string>{{1905, 708}, {63, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {63, 96}}</string>
			<key>sourceSize</key>
			<string>{63, 96}</string>
		</dict>
		<key>StevenHuangResources/blue_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1841}, {551, 190}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {551, 190}}</string>
			<key>sourceSize</key>
			<string>{551, 190}</string>
		</dict>
		<key>StevenHuangResources/browser.png</key>
		<dict>
			<key>frame</key>
			<string>{{1101, 932}, {369, 636}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {369, 636}}</string>
			<key>sourceSize</key>
			<string>{369, 636}</string>
		</dict>
		<key>StevenHuangResources/browser_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{944, 595}, {369, 98}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {369, 98}}</string>
			<key>sourceSize</key>
			<string>{369, 98}</string>
		</dict>
		<key>StevenHuangResources/bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{1101, 518}, {639, 412}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {639, 412}}</string>
			<key>sourceSize</key>
			<string>{639, 412}</string>
		</dict>
		<key>StevenHuangResources/check.png</key>
		<dict>
			<key>frame</key>
			<string>{{1909, 371}, {140, 115}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 115}}</string>
			<key>sourceSize</key>
			<string>{140, 115}</string>
		</dict>
		<key>StevenHuangResources/checkbox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1960, 773}, {83, 83}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {83, 83}}</string>
			<key>sourceSize</key>
			<string>{83, 83}</string>
		</dict>
		<key>StevenHuangResources/checkbox_checked.png</key>
		<dict>
			<key>frame</key>
			<string>{{416, 922}, {97, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 92}}</string>
			<key>sourceSize</key>
			<string>{97, 92}</string>
		</dict>
		<key>StevenHuangResources/clipboard.png</key>
		<dict>
			<key>frame</key>
			<string>{{1101, 1}, {515, 806}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {515, 806}}</string>
			<key>sourceSize</key>
			<string>{515, 806}</string>
		</dict>
		<key>StevenHuangResources/clipboard_tab.png</key>
		<dict>
			<key>frame</key>
			<string>{{567, 1248}, {207, 166}}</string>
			<key>offset</key>
			<string>{0, 320}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{154, 0}, {207, 166}}</string>
			<key>sourceSize</key>
			<string>{515, 806}</string>
		</dict>
		<key>StevenHuangResources/clock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1909, 513}, {107, 107}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 107}}</string>
			<key>sourceSize</key>
			<string>{107, 107}</string>
		</dict>
		<key>StevenHuangResources/clock_half.png</key>
		<dict>
			<key>frame</key>
			<string>{{510, 922}, {38, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {38, 73}}</string>
			<key>sourceSize</key>
			<string>{38, 73}</string>
		</dict>
		<key>StevenHuangResources/clock_half_fill.png</key>
		<dict>
			<key>frame</key>
			<string>{{567, 1035}, {211, 419}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {211, 419}}</string>
			<key>sourceSize</key>
			<string>{211, 419}</string>
		</dict>
		<key>StevenHuangResources/colors.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739, 991}, {310, 275}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {310, 275}}</string>
			<key>sourceSize</key>
			<string>{310, 275}</string>
		</dict>
		<key>StevenHuangResources/controls.png</key>
		<dict>
			<key>frame</key>
			<string>{{567, 1}, {403, 514}}</string>
			<key>offset</key>
			<string>{0, 31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {403, 514}}</string>
			<key>sourceSize</key>
			<string>{403, 577}</string>
		</dict>
		<key>StevenHuangResources/corkboard_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{564, 406}, {378, 177}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {378, 177}}</string>
			<key>sourceSize</key>
			<string>{378, 177}</string>
		</dict>
		<key>StevenHuangResources/corkboard_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{564, 622}, {378, 398}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {378, 398}}</string>
			<key>sourceSize</key>
			<string>{378, 398}</string>
		</dict>
		<key>StevenHuangResources/email.png</key>
		<dict>
			<key>frame</key>
			<string>{{1909, 1}, {368, 125}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {368, 125}}</string>
			<key>sourceSize</key>
			<string>{368, 125}</string>
		</dict>
		<key>StevenHuangResources/fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{944, 966}, {67, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 78}}</string>
			<key>sourceSize</key>
			<string>{67, 78}</string>
		</dict>
		<key>StevenHuangResources/gray_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{554, 1841}, {545, 187}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {545, 187}}</string>
			<key>sourceSize</key>
			<string>{545, 187}</string>
		</dict>
		<key>StevenHuangResources/green_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{97, 1}, {90, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 1024}}</string>
			<key>sourceSize</key>
			<string>{90, 1024}</string>
		</dict>
		<key>StevenHuangResources/green_label.png</key>
		<dict>
			<key>frame</key>
			<string>{{1742, 518}, {471, 161}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {471, 161}}</string>
			<key>sourceSize</key>
			<string>{471, 161}</string>
		</dict>
		<key>StevenHuangResources/paper.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 1}, {373, 777}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {373, 777}}</string>
			<key>sourceSize</key>
			<string>{373, 777}</string>
		</dict>
		<key>StevenHuangResources/pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{988, 1188}, {61, 61}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 12}, {61, 61}}</string>
			<key>sourceSize</key>
			<string>{88, 86}</string>
		</dict>
		<key>StevenHuangResources/person.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 966}, {64, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 62}}</string>
			<key>sourceSize</key>
			<string>{64, 62}</string>
		</dict>
		<key>StevenHuangResources/red_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {94, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 1024}}</string>
			<key>sourceSize</key>
			<string>{94, 1024}</string>
		</dict>
		<key>StevenHuangResources/red_rectangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1905, 773}, {169, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {169, 53}}</string>
			<key>sourceSize</key>
			<string>{169, 53}</string>
		</dict>
		<key>StevenHuangResources/red_rectangle_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044, 595}, {169, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {169, 51}}</string>
			<key>sourceSize</key>
			<string>{169, 51}</string>
		</dict>
		<key>StevenHuangResources/right_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1905, 622}, {84, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{84, 96}</string>
		</dict>
		<key>StevenHuangResources/round_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 780}, {225, 225}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {225, 225}}</string>
			<key>sourceSize</key>
			<string>{225, 225}</string>
		</dict>
		<key>StevenHuangResources/rules.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1027}, {564, 812}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {564, 812}}</string>
			<key>sourceSize</key>
			<string>{564, 812}</string>
		</dict>
		<key>StevenHuangResources/scissor.png</key>
		<dict>
			<key>frame</key>
			<string>{{988, 1109}, {77, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {77, 77}}</string>
			<key>sourceSize</key>
			<string>{77, 77}</string>
		</dict>
		<key>StevenHuangResources/shredder.png</key>
		<dict>
			<key>frame</key>
			<string>{{1960, 913}, {76, 69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76, 69}}</string>
			<key>sourceSize</key>
			<string>{76, 69}</string>
		</dict>
		<key>StevenHuangResources/sticky.png</key>
		<dict>
			<key>frame</key>
			<string>{{944, 406}, {154, 187}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {154, 187}}</string>
			<key>sourceSize</key>
			<string>{154, 187}</string>
		</dict>
		<key>StevenHuangResources/toilet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 1030}, {61, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {61, 77}}</string>
			<key>sourceSize</key>
			<string>{61, 77}</string>
		</dict>
		<key>StevenHuangResources/trash.png</key>
		<dict>
			<key>frame</key>
			<string>{{1960, 858}, {53, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {53, 79}}</string>
			<key>sourceSize</key>
			<string>{53, 79}</string>
		</dict>
		<key>StevenHuangResources/x.png</key>
		<dict>
			<key>frame</key>
			<string>{{416, 780}, {140, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>StevenHuangResources.png</string>
	</dict>
</dict>
</plist>
