<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>StevenHuangResources/airplane.png</key>
		<dict>
			<key>frame</key>
			<string>{{1853, 164}, {63, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {63, 96}}</string>
			<key>sourceSize</key>
			<string>{63, 96}</string>
		</dict>
		<key>StevenHuangResources/browser.png</key>
		<dict>
			<key>frame</key>
			<string>{{706, 1}, {369, 636}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {369, 636}}</string>
			<key>sourceSize</key>
			<string>{369, 636}</string>
		</dict>
		<key>StevenHuangResources/browser_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482, 164}, {369, 98}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {369, 98}}</string>
			<key>sourceSize</key>
			<string>{369, 98}</string>
		</dict>
		<key>StevenHuangResources/bubble.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1841}, {361, 206}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {361, 206}}</string>
			<key>sourceSize</key>
			<string>{361, 206}</string>
		</dict>
		<key>StevenHuangResources/check.png</key>
		<dict>
			<key>frame</key>
			<string>{{1077, 517}, {140, 115}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 115}}</string>
			<key>sourceSize</key>
			<string>{140, 115}</string>
		</dict>
		<key>StevenHuangResources/checkbox.png</key>
		<dict>
			<key>frame</key>
			<string>{{1951, 198}, {83, 83}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {83, 83}}</string>
			<key>sourceSize</key>
			<string>{83, 83}</string>
		</dict>
		<key>StevenHuangResources/checkbox_checked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1955, 1}, {97, 92}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {97, 92}}</string>
			<key>sourceSize</key>
			<string>{97, 92}</string>
		</dict>
		<key>StevenHuangResources/clipboard.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 1}, {515, 806}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {515, 806}}</string>
			<key>sourceSize</key>
			<string>{515, 806}</string>
		</dict>
		<key>StevenHuangResources/clipboard_tab.png</key>
		<dict>
			<key>frame</key>
			<string>{{610, 809}, {207, 166}}</string>
			<key>offset</key>
			<string>{0, 320}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{154, 0}, {207, 166}}</string>
			<key>sourceSize</key>
			<string>{515, 806}</string>
		</dict>
		<key>StevenHuangResources/clock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1934, 283}, {107, 107}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {107, 107}}</string>
			<key>sourceSize</key>
			<string>{107, 107}</string>
		</dict>
		<key>StevenHuangResources/clock_half.png</key>
		<dict>
			<key>frame</key>
			<string>{{567, 1801}, {38, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {38, 73}}</string>
			<key>sourceSize</key>
			<string>{38, 73}</string>
		</dict>
		<key>StevenHuangResources/clock_half_fill.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 809}, {211, 419}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {211, 419}}</string>
			<key>sourceSize</key>
			<string>{211, 419}</string>
		</dict>
		<key>StevenHuangResources/controls.png</key>
		<dict>
			<key>frame</key>
			<string>{{1077, 1}, {403, 514}}</string>
			<key>offset</key>
			<string>{0, 31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {403, 514}}</string>
			<key>sourceSize</key>
			<string>{403, 577}</string>
		</dict>
		<key>StevenHuangResources/corkboard_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{520, 1841}, {378, 177}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {378, 177}}</string>
			<key>sourceSize</key>
			<string>{378, 177}</string>
		</dict>
		<key>StevenHuangResources/corkboard_mid.png</key>
		<dict>
			<key>frame</key>
			<string>{{778, 639}, {378, 398}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {378, 398}}</string>
			<key>sourceSize</key>
			<string>{378, 398}</string>
		</dict>
		<key>StevenHuangResources/email.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482, 264}, {368, 125}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {368, 125}}</string>
			<key>sourceSize</key>
			<string>{368, 125}</string>
		</dict>
		<key>StevenHuangResources/fire.png</key>
		<dict>
			<key>frame</key>
			<string>{{706, 717}, {67, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 78}}</string>
			<key>sourceSize</key>
			<string>{67, 78}</string>
		</dict>
		<key>StevenHuangResources/green_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{97, 1}, {90, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 1024}}</string>
			<key>sourceSize</key>
			<string>{90, 1024}</string>
		</dict>
		<key>StevenHuangResources/green_label.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482, 1}, {471, 161}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {471, 161}}</string>
			<key>sourceSize</key>
			<string>{471, 161}</string>
		</dict>
		<key>StevenHuangResources/paper.png</key>
		<dict>
			<key>frame</key>
			<string>{{567, 1022}, {373, 777}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {373, 777}}</string>
			<key>sourceSize</key>
			<string>{373, 777}</string>
		</dict>
		<key>StevenHuangResources/pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{1824, 426}, {61, 61}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 12}, {61, 61}}</string>
			<key>sourceSize</key>
			<string>{88, 86}</string>
		</dict>
		<key>StevenHuangResources/person.png</key>
		<dict>
			<key>frame</key>
			<string>{{1931, 392}, {64, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 62}}</string>
			<key>sourceSize</key>
			<string>{64, 62}</string>
		</dict>
		<key>StevenHuangResources/red_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {94, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {94, 1024}}</string>
			<key>sourceSize</key>
			<string>{94, 1024}</string>
		</dict>
		<key>StevenHuangResources/red_rectangle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482, 391}, {169, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {169, 53}}</string>
			<key>sourceSize</key>
			<string>{169, 53}</string>
		</dict>
		<key>StevenHuangResources/red_rectangle_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{1653, 391}, {169, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {169, 51}}</string>
			<key>sourceSize</key>
			<string>{169, 51}</string>
		</dict>
		<key>StevenHuangResources/right_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1955, 100}, {84, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{84, 96}</string>
		</dict>
		<key>StevenHuangResources/round_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{900, 1801}, {225, 225}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {225, 225}}</string>
			<key>sourceSize</key>
			<string>{225, 225}</string>
		</dict>
		<key>StevenHuangResources/rules.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1027}, {564, 812}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {564, 812}}</string>
			<key>sourceSize</key>
			<string>{564, 812}</string>
		</dict>
		<key>StevenHuangResources/scissor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1852, 284}, {77, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {77, 77}}</string>
			<key>sourceSize</key>
			<string>{77, 77}</string>
		</dict>
		<key>StevenHuangResources/shredder.png</key>
		<dict>
			<key>frame</key>
			<string>{{706, 639}, {76, 69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76, 69}}</string>
			<key>sourceSize</key>
			<string>{76, 69}</string>
		</dict>
		<key>StevenHuangResources/sticky.png</key>
		<dict>
			<key>frame</key>
			<string>{{364, 1841}, {154, 187}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {154, 187}}</string>
			<key>sourceSize</key>
			<string>{154, 187}</string>
		</dict>
		<key>StevenHuangResources/toilet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1852, 363}, {61, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {61, 77}}</string>
			<key>sourceSize</key>
			<string>{61, 77}</string>
		</dict>
		<key>StevenHuangResources/trash.png</key>
		<dict>
			<key>frame</key>
			<string>{{1853, 229}, {53, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {53, 79}}</string>
			<key>sourceSize</key>
			<string>{53, 79}</string>
		</dict>
		<key>StevenHuangResources/x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1887, 456}, {140, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 140}}</string>
			<key>sourceSize</key>
			<string>{140, 140}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>StevenHuangResources.png</string>
	</dict>
</dict>
</plist>
